<h1>All Music</h1>
<div class="forms">
    <% @current_user.songs.each do |song|%>
        <h1> <%= song.title if @current_user.songs.present? %> </h1>
        <h2><%= song.bpm if @current_user.songs.present? %> BPM</h2>
    <% end%>

    <%= link_to 'Add Song', new_song_path %>
</div>

